@font-face{
    font-family: 'fontin';
    src: url('Fontin-Regular.ttf') format('truetype');
}

body {
	background-color:black;
	font: 12px/18px Georgia, serif;	
    margin: 4em auto;
    width: 600px;
}

h1 
{
	font-family:'fontin', serif;
    font-size: 225%;
}

h1 span { 
    background-color: gray; 
}

p
{
	color:white;
}

h2 {
	color:white;
	font: 18px Georgia, "Times New Roman", Times, serif;
	
}

img[align=left] {
    margin: 0 0 2em 2em;
    border: 0px solid #eee;
    padding: 4px;
}


small a {
    font-family:arial, sans-serif;
    font-size: 12px;
    font-variant:small-caps;
    letter-spacing:1px;
    word-spacing:1px;
    text-decoration:none;
}